{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header>
    {% include 'layouts/nav.html.twig' %}
    {% include 'layouts/jumbotron.html.twig' %}
</header>
    <div class="container js-filter">
        <div class="row">
            <div class="col-md-2 js-filter-form">
                {{ include('shop/filter.html.twig', {form: form}) }}
            </div>
            <div class="col-md-10">
                <div class="d-flex justify-content-end mb-2 js-filter-sorting">
                    {{ knp_pagination_sortable(products, 'Price', 'p.price') }}
                    {{ knp_pagination_sortable(products, 'Promo', 'p.promo') }}
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 js-filter-content">
                {{ include('shop/products.html.twig', {products: products}) }}
                    <div class="mt-4 js-filter-pagination">
                        {{ knp_pagination_render(products) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
